<nav class="menu">
  <LinkTo @route="authenticated" class="menu-index">
    <h1>SuperRentals</h1>
  </LinkTo>
  <div class="links">
    <LinkTo @route="authenticated.about" class="menu-about">
      About
    </LinkTo>
    <LinkTo @route="authenticated.contact" class="menu-contact">
      Contact
    </LinkTo>
  </div>
  {{yield}}
</nav>