<div class="container">
  <NavBar>
    <div class="links links--auth">
      {{#if this.session.isAuthenticated}}
        <a {{on "click" this.invalidateSession}}>Logout</a>
      {{else}}
        <LinkTo @route="login">Login</LinkTo>
      {{/if}}
    </div>
  </NavBar>
  <div class="body">
    {{outlet}}
  </div>
</div>