<Jumbo>
  <h2>Welcome to Super Rentals!</h2>
  <p>We hope you find exactly what you're looking for in a place to stay.</p>
  <LinkTo @route="add-rental" class="button">Add Rental</LinkTo>
</Jumbo>

<Rentals @rentals={{@model}} />